body {
    margin: 0;
    padding: 0;
    background-color: #cfcfcf !important;
    height: 100vh;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: #222222;
    color: #ffffff;
}
.login-form h3{
    text-align: center;
}

.login-container form{
    padding: 5%;
}

.btnSubmit{
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btnSubmit{
    width: 100%;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form .link-users{
    font-weight: 600;
    text-decoration: none;
    width: 100%;
}

.form-control{
    margin-bottom: 20px;
}

.col-sm-6{
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #ffffff;
}

.user-invalido{
    margin-top: 10px;
}