body {
    margin: 0;
    padding: 0;
    background-color: #cfcfcf !important;
    height: 100vh;
}
.user-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.user-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: #222222;
    color: #ffffff;
}
.user-form h3{
    text-align: center;
}

.user-container form{
    padding: 5%;
}
.btnSubmit
{
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.user-form .btnSubmit{
    margin-top: 5%;
    width: 100%;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.user-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
}

.form-control{
    margin-bottom: 20px;
}

.login-voltar{
    padding-top: 0 !important;
    padding-left: 15px !important;
}

.form-cadastro{
    padding-bottom: 10px !important;
}

.link-login{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
}