<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BarberShop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/internalUser.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            height: 400px !important;
            margin: auto;
            min-height:200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dev's BarberShop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Início</a></li>
                <li><a href="#sobre">Informações</a></li>
                <li><a href="#contatos">Contatos</a></li>
                <li><a href="#" th:if="${userLogado.name} != 'anonymousUser'">Agendar Horário</a></li>
                <li><a th:href="@{/users}" th:if="${userLogado.role.name} == 'ADMIN'">Usuários</a></li>
                <li class="active"><a th:href="@{/barbers}" th:if="${userLogado.role.name} == 'ADMIN'">Barbeiros</a></li>
            </ul>
            <div th:if="${userLogado.name} != 'anonymousUser'">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li><a th:text="${userLogado.name}"> Usuario </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container user-container">
    <div class="row col-sm-8">
        <div class="col-sm-12 user-form">
            <h3>Edição Barbeiro</h3>
            <form class="form-cadastro" th:action="@{edit/{id}(id = ${barberRegister.id})}" method="post">

                <div class="row row-form">
                    <div class="col-sm-6">
                        <label th:for="name" class="col-sm-12">Nome:</label>
                        <input type="text" th:field="*{barberRegister.name}" placeholder="" class="form-control" required="required" style="text-align: center;">
                    </div>
                    <div class="col-sm-6">
                        <label th:for="roles" class="col-sm-12">Dia de Folga:</label>
                        <select th:field="*{barberRegister.dayOff}" class="form-select col-sm-12" required="required">
                            <option th:value="${barberRegister.dayOff}" th:text="${barberRegister.dayOff.name}"> </option>
                            <option th:each="enumDay : ${enumDays}" th:value="${enumDay}" th:text="${enumDay.name}"></option>
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-6">
                        <label th:for="name" class="col-sm-12">Horário Início Expediente:</label>
                        <select th:field="*{barberRegister.workStartTime}" class="form-select col-sm-12" required="required">
                            <option th:value="${barberRegister.workStartTime}" th:text="${barberRegister.workStartTime.toString}"> </option>
                            <option th:each="timeKey : ${timeKeyList}" th:value="${timeKey.time}" th:text="${timeKey.time.toString}"></option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label th:for="roles" class="col-sm-12">Horário Fim Expediente::</label>
                        <select th:field="*{barberRegister.workEndTime}" class="form-select col-sm-12" required="required">
                            <option th:value="${barberRegister.workEndTime}" th:text="${barberRegister.workEndTime.toString}"> </option>
                            <option th:each="timeKey : ${timeKeyList}" th:value="${timeKey.time}" th:text="${timeKey.time.toString}"></option>
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-6">
                        <label th:for="name" class="col-sm-12">Horário de Almoço:</label>
                        <select th:field="*{barberRegister.lunchTime}" class="form-select col-sm-12" required="required">
                            <option th:value="${barberRegister.lunchTime}" th:text="${barberRegister.lunchTime.toString}"> </option>
                            <option th:each="timeKey : ${timeKeyList}" th:value="${timeKey.time}" th:text="${timeKey.time.toString}"></option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label th:for="roles" class="col-sm-12">Tempo de Duração do Almoço:</label>
                        <select th:field="*{barberRegister.lunchDuration}" class="form-select col-sm-12" required="required">
                            <option th:value="${barberRegister.lunchDuration}" th:text="${barberRegister.lunchDuration.toString}"> </option>
                            <option th:each="timeKey : ${timeKeyList}" th:value="${timeKey.time}" th:text="${timeKey.time.toString}"></option>
                        </select>
                    </div>
                </div>

                <div class="row btn-cadastrar">
                    <input type="submit" class="btnSubmit" value="Salvar" />
                </div>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="col-100 footer" th:style="'background-image:url(' + @{/img/footer.png} + '); background-size: cover; '">
        <div class="content">
            <div class="col-4" id="foter-first">
                <h3><b>Atendimento</b></h3>
                <p>Horário de Atendimetno:</p>
                <p>Segunda a Sexta, das 09h às 19h<p>
                <p>Sábados das 09h às 18h.</p>
            </div>
            <div class="col-4">
                <h3 id="contatos"><b>Entrar em Contato</b></h3>
                <p class="local">Brasil, BR - Rua Devs, 15 (Curitiba/PR)<p>
                <p class="email">email@email.com | +55 41 7070-7070<p>
                <ul class="nav navbar-nav" id="redes-sociais">
                    <li><a href="#"><img th:src="@{/img/rss.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/face.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/tw.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/linkedin.png}" alt="img"> </a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3><b>Tags</b></h3>
                <p>#Dev'sBarber</p>
                <p>#TecnologiaInovacao</p>
                <p>#MelhorBarbeiroDaCidade</p>
            </div>
        </div>
    </div>
</footer>
<div class="col-100 footer-2 text-center" th:style="'background-image:url(' + @{/img/footer2.png} + '); background-size: cover; '">
    <div class="content">
        <p>
            © 2022. TODOS OS DIREITOS RESERVADOS. ALISSON ROSA
        </p>
    </div>
</div>

<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery-migrate.js"></script>
<script type="text/javascript" src="./js/slick.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>