<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BarberShop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/registers.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <style>

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            height: 400px !important;
            margin: auto;
            min-height:200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<div th:each="error : ${erro}" th:text="${error}" class="alert alert-danger" role="alert"></div>
<div th:each="succes : ${success}" th:text="${succes}" class="alert alert-success alert-dismissible" role="alert"></div>
<div id="load-container">
    <img id="gif-loading" th:src="@{/gif/loading.gif}" alt="Loading">
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dev's BarberShop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Início</a></li>
                <li><a th:href="@{/schedule}" th:if="${userLogado.name} != 'anonymousUser'">Agendar Horário</a></li>
                <li class="active"><a th:href="@{/users}" th:if="${userLogado.role.name} == 'ADMIN' or ${userLogado.role.name} == 'GERENTE' ">Usuários</a></li>
                <li><a th:href="@{/barbers}" th:if="${userLogado.role.name} == 'ADMIN' or ${userLogado.role.name} == 'GERENTE' ">Barbeiros</a></li>
                <li><a th:href="@{/cuts}" th:if="${userLogado.role.name} == 'ADMIN' or ${userLogado.role.name} == 'GERENTE' ">Cortes</a></li>
                <li><a th:href="@{/scheduleReport}" th:if="${userLogado.role.name} == 'GERENTE' ">Relatório</a></li>
            </ul>
            <div th:if="${userLogado.name} != 'anonymousUser'">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false" th:text="${userLogado.name}">
                            User
                        </a>
                        <div class="dropdown-menu navbar-right"
                             aria-labelledby="navbarDropdown" style="background-color: #2c2c2c;">
                            <ul class="nav navbar-nav" style="width: 100%">
                                <li>
                                    <a class="dropdown-item" th:href="@{/userEdit/{id}(id = ${userLogado.id})}">
                                        Editar Perfil
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="nav-item dropdown-item" th:href="@{/mySchedules}">
                                        Meus horários
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container user-container">
    <div class="row col-sm-8">
        <div class="col-sm-12 user-form">
            <h3>Edição Usuario</h3>
            <form id="form" class="form-cadastro" th:if="${userLogado.role.name} != 'CLIENT'" th:action="@{/edit/{id}(id = ${userDTO.userId})}" method="post">

                <div class="row row-form">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label th:for="name" class="col-sm-12">Nome:</label>
                            <input id="name" type="text" th:field="*{userDTO.name}" placeholder="Seu Nome" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label th:for="username" class="col-sm-12">Usuario:</label>
                            <input id="username" type="text" th:field="*{userDTO.username}" placeholder="usuario" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label th:for="email" class="col-sm-12">Email:</label>
                            <input id="email" type="email" th:field="*{userDTO.email}" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label th:for="telephone" class="col-sm-12">Telefone:</label>
                            <input id="telephone" type="text" th:field="*{userDTO.telephone}" placeholder="(dd) 00000-0000" class="form-control" required="required">
                        </div>
                    </div>
                </div>
                <div class="row row-form">
                    <div class="col-sm-4">
                        <label th:for="roles" class="col-sm-12">Role:</label>
                        <select th:field="*{userDTO.roleId}" class="form-select col-sm-12">
                            <option th:value="${userDTO.roleId}" th:text="${userDTO.roleName}"> </option>
                            <option th:each="roleOption : ${roleList}" th:value="${roleOption.id}" th:text="${roleOption.name}"></option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label th:for="birthdate" class="col-sm-12">Data de Nascimento:</label>
                            <input id="birthdate" type="date" th:field="*{userDTO.birthdate}" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label th:for="roles" class="col-sm-12">Ativo:</label>
                        <select th:field="*{userDTO.enable}" class="form-select col-sm-12" required="required">
                            <option th:if="${userDTO.enable}" th:value="${userDTO.enable}">Não</option>
                            <option th:if="${!userDTO.enable}" th:value="${userDTO.enable}">Sim</option>
                            <option th:if="${userDTO.enable}" th:value="${userDTO.enable}">Sim</option>
                            <option th:if="${!userDTO.enable}" th:value="${userDTO.enable}">Não</option>
                        </select>
                    </div>
                </div>

                <div class="row row-form" id="row-changePassword" style="display: none">
                    <div class="col-sm-4">
                        <label th:for="password" class="col-sm-12">Senha Atual:</label>
                        <input id="password" minlength="6" type="password" th:field="*{userDTO.password}" placeholder="******" class="form-control">
                    </div>
                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label th:for="newPassword" class="col-sm-12">Nova Senha:</label>
                            <input id="newPassword" minlength="6" type="password" th:field="*{userDTO.newPassword}" placeholder="******" class="form-control"
                                   onchange="validatorNewPassword('newPassword', 'repeatPassword')">
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label th:for="repeatPassword" class="col-sm-12">Repita a Senha:</label>
                            <input id="repeatPassword" minlength="6" type="password" th:field="*{userDTO.repeatNewPassword}" placeholder="******" class="form-control"
                                   onchange="validatorNewPassword('newPassword', 'repeatPassword')">
                            <small>Error Message</small>
                        </div>
                    </div>
                </div>


                <div id="div-subimit-not-changePassword" class="row btn-cadastrar col-sm-6" style="margin:0;">
                    <input id="btn-subimit-not-changePassword" type="submit" class="btnSubmit" value="Salvar Alteração" style="border-radius: 10px"/>
                </div>
                <div id="div-subimit-changePassword" class="form-group" style="margin-bottom: 40px; height: 60px; display: none;">
                    <div class="row btn-cadastrar" style="margin-top: 0">
                        <input id="btnSubimit" type="submit" class="btnSubmit" value="Salvar Alteração" style="border-radius: 10px; height: 40px"/>
                        <small>Error Message</small>
                    </div>
                </div>
            </form>
            <form id="form" class="form-cadastro" th:if="${userLogado.role.name} == 'CLIENT'" th:action="@{/userEdit/result/{id}(id = ${userDTO.userId})}" method="post">
                <div class="row row-form">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label th:for="name" class="col-sm-12">Nome:</label>
                            <input id="name" type="text" th:field="*{userDTO.name}" placeholder="Seu Nome" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label th:for="username" class="col-sm-12">Usuario:</label>
                            <input id="username" type="text" th:field="*{userDTO.username}" placeholder="usuario" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-4">
                        <div class="form-group" >
                            <label th:for="email" class="col-sm-12">Email:</label>
                            <input id="email" type="email" th:field="*{userDTO.email}" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label th:for="telephone" class="col-sm-12">Telefone:</label>
                            <input id="telephone" type="text" th:field="*{userDTO.telephone}" placeholder="(dd) 00000-0000" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label th:for="birthdate" class="col-sm-12">Data de Nascimento:</label>
                            <input id="birthdate" type="date" th:field="*{userDTO.birthdate}" class="form-control" required="required">
                        </div>
                    </div>
                </div>

                <div class="row row-form" id="row-changePassword" style="display: none">
                    <div class="col-sm-4">
                        <label th:for="password" class="col-sm-12">Senha Atual:</label>
                        <input id="password" minlength="6" type="password" th:field="*{userDTO.password}" placeholder="******" class="form-control">
                    </div>
                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label th:for="newPassword" class="col-sm-12">Nova Senha:</label>
                            <input id="newPassword" minlength="6" type="password" th:field="*{userDTO.newPassword}" placeholder="******" class="form-control"
                                   onchange="validatorNewPassword('newPassword', 'repeatPassword')">
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label th:for="repeatPassword" class="col-sm-12">Repita a Senha:</label>
                            <input id="repeatPassword" minlength="6" type="password" th:field="*{userDTO.repeatNewPassword}" placeholder="******" class="form-control"
                                   onchange="validatorNewPassword('newPassword', 'repeatPassword')">
                            <small>Error Message</small>
                        </div>
                    </div>
                </div>


                <div id="div-subimit-not-changePassword" class="row btn-cadastrar col-sm-6" style="margin:0;">
                    <input id="btn-subimit-not-changePassword" type="submit" class="btnSubmit" value="Salvar Alteração" style="border-radius: 10px"/>
                </div>
                <div id="div-subimit-changePassword" class="form-group" style="margin-bottom: 40px; height: 60px; display: none;">
                    <div class="row btn-cadastrar" style="margin-top: 0">
                        <input id="btnSubimit" type="submit" class="btnSubmit" value="Salvar Alteração" style="border-radius: 10px; height: 40px"/>
                        <small>Error Message</small>
                    </div>
                </div>
            </form>
            <div id="div-changePassword" class="col-sm-6">
                <button id="btn-changePassword" type="button" class="btn btn-danger" style="border-radius: 10px"
                        onclick="changeState('div-changePassword', 'div-subimit-changePassword', 'div-subimit-not-changePassword', 'row-changePassword')"
                        >Alterar Senha</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="col-100 footer" th:style="'background-image:url(' + @{/img/footer.png} + '); background-size: cover; '">
        <div class="content">
            <div class="col-4" id="foter-first">
                <h3><b>Atendimento</b></h3>
                <p>Horário de Atendimetno:</p>
                <p>Segunda a Sexta, das 09h às 19h<p>
                <p>Sábados das 09h às 18h.</p>
            </div>
            <div class="col-4">
                <h3 id="contatos"><b>Entrar em Contato</b></h3>
                <p class="local">Brasil, BR - Rua Devs, 15 (Curitiba/PR)<p>
                <p class="email">email@email.com | +55 41 7070-7070<p>
                <ul class="nav navbar-nav" id="redes-sociais">
                    <li><a href="#"><img th:src="@{/img/rss.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/face.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/tw.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/linkedin.png}" alt="img"> </a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3><b>Tags</b></h3>
                <p>#Dev'sBarber</p>
                <p>#TecnologiaInovacao</p>
                <p>#MelhorBarbeiroDaCidade</p>
            </div>
        </div>
    </div>
</footer>
<div class="col-100 footer-2 text-center" th:style="'background-image:url(' + @{/img/footer2.png} + '); background-size: cover; '">
    <div class="content">
        <p>
            © 2022. TODOS OS DIREITOS RESERVADOS. ALISSON ROSA
        </p>
    </div>
</div>
<script>
    const form = document.getElementById('form')
    form.addEventListener('submit', (e) => {
        var ids = ['name', 'username', 'password', 'email', 'birthdate', 'telephone', 'newPassword', 'repeatPassword']

        const check = checkInputs(ids, 'btnSubimit');
        if(check){
            window.location = e.currentTarget.href;
        } else {
            e.preventDefault();
        }
    })
</script>
<script>
    window.addEventListener("load", function() {
        var fadeContainer = document.querySelector("#load-container");
        setTimeout(function() {

            fadeContainer.style.display = "none";

        }, 1000);
    });
    $(document).ready(function () {

        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).alert('close');
            });
        }, 5000);
    });
</script>
<script>
    function changeState(changePassword, subimitChange, subimitNotChange, rowChangePassword){
        document.getElementById(changePassword).style.display = 'none';
        document.getElementById(subimitChange).style.display = 'block';
        document.getElementById(subimitNotChange).style.display = 'none';
        document.getElementById(rowChangePassword).style.display = 'block';
        document.getElementById('password').required = true;
        document.getElementById('newPassword').required = true;
        document.getElementById('repeatPassword').required = true;
    }
</script>
</body>
</html>