<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BarberShop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/schedule.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<div id="load-container">
    <img id="gif-loading" th:src="@{/gif/loading.gif}" alt="Loading">
</div>
<div th:if="${scheduleDTO.save}" class="alert alert-success alert-dismissible" role="alert">
    Agendamento Realizado com sucesso!
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dev's BarberShop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Início</a></li>
                <li><a th:if="${userLogado.role.name} == 'CLIENT'" href="/#sobre">Informações</a></li>
                <li><a th:if="${userLogado.role.name} == 'CLIENT'" href="/#contatos">Contatos</a></li>
                <li class="active"><a th:href="@{/schedule}" th:if="${userLogado.name} != 'anonymousUser'">Agendar Horário</a></li>
                <li><a th:href="@{/users}" th:if="${userLogado.role.name} == 'ADMIN' or ${userLogado.role.name} == 'GERENTE' ">Usuários</a></li>
                <li><a th:href="@{/barbers}" th:if="${userLogado.role.name} == 'ADMIN' or ${userLogado.role.name} == 'GERENTE' ">Barbeiros</a></li>
                <li><a th:href="@{/cuts}" th:if="${userLogado.role.name} == 'ADMIN' or ${userLogado.role.name} == 'GERENTE' ">Cortes</a></li>
                <li><a th:href="@{/scheduleReport}" th:if="${userLogado.role.name} == 'GERENTE' ">Relatório</a></li>
            </ul>
            <div th:if="${userLogado.name} == 'anonymousUser'">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
            <div th:if="${userLogado.name} != 'anonymousUser'">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false" th:text="${userLogado.name}">
                            User
                        </a>
                        <div class="dropdown-menu navbar-right"
                             aria-labelledby="navbarDropdown" style="background-color: #2c2c2c;">
                            <ul class="nav navbar-nav" style="width: 100%">
                                <li>
                                    <a class="dropdown-item" th:href="@{/userEdit/{id}(id = ${userLogado.id})}">
                                        Editar Perfil
                                    </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="nav-item dropdown-item" th:href="@{/mySchedules}">
                                        Meus horários
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="row container-schedule-filter">
    <div class="col-sm-12" style="padding: 0px">
        <div class="row">
            <div class="row row-form-barber-search">
                <div class="col-sm-4" style="text-align: center">
                    <h3 th:if="${!scheduleDTO.save}">Confirmar Agendamento</h3>
                    <h3 th:if="${scheduleDTO.save}">Agendamento Realizado!</h3>
                </div>
            </div>
            <form th:action="@{/confirSaveSchedule}" method="post" style="margin-top: 30px">
                <div class="row row-form-barber-search" id="row-form-1">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-sm-12">Dia:</label>
                            <input type="date" th:field="*{scheduleDTO.date}" class="form-control" required="required" disabled>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-sm-12">Horário:</label>
                            <input type="text" th:field="*{scheduleDTO.timeKey}" class="form-control" required="required" disabled>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="label-form-schedule">Tempo de corte:</label>
                                <input type="text" th:field="*{scheduleDTO.timeCut}" class="form-control" placeholder="Tempo" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-form-barber-search">
                    <div class="col-sm-3">
                        <div class="row">
                            <label class="col-sm-12" style="padding: 0px;">Corte:</label>
                        </div>
                        <div class="row">
                            <input type="text" th:field="*{scheduleDTO.tipeCut.typeCutName}" class="form-control" placeholder="Tempo" disabled>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="label-form-schedule" >Valor:</label>
                                <input type="text" th:field="*{scheduleDTO.value}" class="form-control"
                                       placeholder="Valor" disabled style="display: none">
                                <input type="text" th:field="*{scheduleDTO.valueString}" class="form-control"
                                       placeholder="Valor" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <label class="label-form-schedule" >Barbeiro:</label>
                            <input type="text" th:field="*{scheduleDTO.barberName}" class="form-control" placeholder="Valor" disabled>
                        </div>
                    </div>
                </div>
                <input type="date" th:field="*{scheduleDTO.date}" class="form-control" style="display: none">
                <select th:field="*{scheduleDTO.tipeCut}" class="form-select col-sm-12" hidden>
                    <option th:value="${scheduleDTO.tipeCut}"> </option>
                </select>
                <select th:field="*{scheduleDTO.key}" class="form-select col-sm-12" hidden>
                    <option th:value="${scheduleDTO.key}"> </option>
                </select>
                <select th:field="*{scheduleDTO.cutId}" class="form-select col-sm-12" hidden>
                    <option th:value="${scheduleDTO.cutId}"> </option>
                </select>
                <select th:field="*{scheduleDTO.barberId}" class="form-select col-sm-12" hidden>
                    <option th:value="${scheduleDTO.barberId}"> </option>
                </select>
                <div class="row row-form-barber-search" th:if="${!scheduleDTO.save}">
                    <div class="form-group col-sm-6" style="margin-top: 3%;">
                        <input type="submit" class="btnSubmit" value="Confirmar" style="border-radius: 20px;" />
                    </div>
                    <div class="form-group col-sm-6" style="margin-top: 3%;">
                        <select th:field="*{scheduleDTO.confirm}" class="form-select col-sm-12" hidden>
                            <option id="confirmSave" th:value="${scheduleDTO.confirm}"> </option>
                        </select>
                        <input type="submit" class="btnSubmit btn btn-warning" onclick="confirmSave('confirmSave')" value="Cancelar" style="border-radius: 20px;" />
                    </div>
                </div>
                <div class="row row-form-barber-search" th:if="${scheduleDTO.save}">
                    <div class="form-group col-sm-6" style="margin-top: 3%;">
                        <a type="button" href="/" class="btn btn-primary" style="border-radius: 20px; width: 100%;">Voltar ao início!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="col-100 footer" th:style="'background-image:url(' + @{/img/footer.png} + '); background-size: cover; '">
        <div class="content">
            <div class="col-4" id="foter-first">
                <h3><b>Atendimento</b></h3>
                <p>Horário de Atendimetno:</p>
                <p>Segunda a Sexta, das 09h às 19h<p>
                <p>Sábados das 09h às 18h.</p>
            </div>
            <div class="col-4">
                <h3 id="contatos"><b>Entrar em Contato</b></h3>
                <p class="local">Brasil, BR - Rua Devs, 15 (Curitiba/PR)<p>
                <p class="email">email@email.com | +55 41 7070-7070<p>
                <ul class="nav navbar-nav" id="redes-sociais">
                    <li><a href="#"><img th:src="@{/img/rss.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/face.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/tw.png}" alt="img"> </a></li>
                    <li><a href="#"><img th:src="@{/img/linkedin.png}" alt="img"> </a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3><b>Tags</b></h3>
                <p>#Dev'sBarber</p>
                <p>#TecnologiaInovacao</p>
                <p>#MelhorBarbeiroDaCidade</p>
            </div>
        </div>
    </div>
</footer>
<div class="col-100 footer-2 text-center" th:style="'background-image:url(' + @{/img/footer2.png} + '); background-size: cover; '">
    <div class="content">
        <p>
            © 2022. TODOS OS DIREITOS RESERVADOS. ALISSON ROSA
        </p>
    </div>
</div>
<script>
    window.addEventListener("load", function() {
        var fadeContainer = document.querySelector("#load-container");
        setTimeout(function() {

            fadeContainer.style.display = "none";

        }, 1000);
    });
    $(document).ready(function () {

        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).alert('close');
            });
        }, 5000);
    });

    function confirmSave (idOption){
        document.getElementById(idOption).value = 'false';

        var teste = document.getElementById(idOption);
        console.log(teste.value);
    }
</script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>